@font-face {
	font-family: inter;
	src: url(assets/Inter-Regular.ttf);
}
html {
	height: 100%;
}
body,
#app {
	font-family: inter;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
	color: #eee;
}

button {
	background-color: #000;
	border: 3px solid #eee;
	color: #eee;
	border-radius: 3px;
	padding: 0.7rem 0.7rem;
	transform: all 100ms;
}
button:active {
	background-color: #fff;
	border-color: #fff;
	color: #000;
}

*,
button {
	font-family: inter;
	user-select: none !important;
	outline: none;
	touch-action: manipulation;
}
